.content {
    background-color: black;
    text-align: center;
}

p {
    text-align: justify;
    font-size: 1.5em;
    text-indent: 2em;
    font-family: 'cambria';
}

img {
    width: 85%;
    min-width: 330px;
    max-width: 900px;
    padding-top: 50px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #000000
}

a:hover {
    color: #900000;
    font-weight: bold;
}

#introduction {
    background-color: black;
    color: white;
    padding: 50px;
    font-size: 2.5em;
    font-family: 'Oswald', sans-serif;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#internationalcenter {
    padding-top: 35px;
}

#text {
     background-color: #FBFBFB;
     padding: 75px;
     max-width: 900px;
     margin: auto;
}

#visuals {
     background-color: #FBFBFB;
     padding: 75px;
     max-width: 900px;
     margin: auto;
}

#timeline {
     background-color: black;
     padding-bottom: 50px;
     padding-top:50px;
}

nav {
    padding-top: 1px;
}

.bar {
    background-color: #F1B82D;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    padding-left: 35px;
}

h2 {
    font-family: 'cambria';
    font-size: 2em;
    text-align: left;
}

#infographic {
    padding-bottom: 50px;
    padding-top: 0px;
}

#healthkit {
    padding-bottom: 50px;
    padding-top: 0px;
}

#collegeavenue {
    padding-bottom: 50px;
    padding-top: 0px;
}

#timelinetext {
    color: white;
    padding-top: 0px;
    margin: auto;
    padding-bottom: 75px;
    font-size: 1.5em;
    width: 85%;
    min-width: 330px;
    max-width: 900px;
}

@media only screen and (min-width: 1400px) {
    h3 {
        max-width: 350px;
    }
}
