.content {
    background-color: black;
    text-align: center;
}

p {
    text-align: justify;
    font-size: 1.5em;
    text-indent: 2em;
    font-family: 'cambria';
}

img {
    width: 85%;
    min-width: 330px;
    max-width: 900px;
    padding-top: 50px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #000000
}

a:hover {
    color: #900000;
    font-weight: bold;
}

#introduction {
    background-color: black;
    color: white;
    padding: 50px;
    font-size: 2.5em;
    font-family: 'Oswald', sans-serif;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#internationalcenter {
    padding-top: 35px;
}

#text {
     background-color: #111111;
     color: white;
     padding: 75px;
     max-width: 900px;
     margin: auto;
}

nav {
    padding-top: 1px;
}

.bar {
    background-color: #F1B82D;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    padding-left: 35px;
}

h2 {
    font-family: 'cambria';
    font-size: 2em;
    text-align: left;
}

#infographic {
    padding-bottom: 50px;
    padding-top: 0px;
}

#healthkit {
    padding-bottom: 50px;
    padding-top: 0px;
}

#collegeavenue {
    padding-bottom: 50px;
    padding-top: 0px;
}

@media only screen and (min-width: 1400px) {
    h3 {
        max-width: 350px;
    }
}

#gallery_holder {
  max-width: 800px;
  margin: auto;
  padding-top: 70px;
}

#selected_img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#selected_img img {
	width: 100%;
	height: auto;
}

#image_gallery {
  display: flex;
  margin:auto;
  padding-bottom: 120px;

}

#image_gallery img {
  min-width: 50px;
  width:90%;

}

#image_gallery img:hover{
  opacity: 0.6;

}

.timeline {
	display: inline-block;
	max-height: 250px;
  opacity: 0.7;
}

.timeline img {
	width: 100%;
	height: auto;
}

.photoGallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  margin:auto;
  padding-bottom: 110px;
  padding-top: 50px;
}

.imageHolder {
  margin: 20px 0;
  font-family: 'cambria';
  color: white;
  font-size: 1.5em;
}

.imageHolder caption {
  margin: 10px 0;
}

.imageHolder img {
  width: 100%;
  max-width: 900px;
  min-width: 330px;
}

.button_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button_holder button {
  background-color: #F1B82D;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  border: none;
}

button:hover {
    color: #900000;
}

.hideThisDiv {
  display: none;
}
